body {
    background-color: rgba(226, 219, 201, 0.472);
}

h1 {
    font-family: 'Libre Baskerville', serif;
    font-size:xx-large;
    text-align:center;
    margin-top:25px;
    margin-bottom: 25px;
}

h2 {
    font-family: 'Varela Round', sans-serif;
    font-size:large;
    text-align: center;
    margin-bottom: 25px;
}

#images {
    background-color:rgba(236, 209, 175, 0.883);
    width: max-content;
    margin: auto;
    margin-bottom: 25px;
}

section img {
    width: 200px;
    height: 200px;
    margin: 50px;
}

section img:hover{
    cursor: pointer;
}
#chartBox {
    width: 900px;
    height: 500px;
    margin: auto;
}
/* #Results {
    background-color: rgb(149, 113, 113);
    padding: 5px;
    width: max-content;
    margin: auto;
    text-align: center;
    border-radius: 25px;
    color: white;
}

#Results:hover {
    cursor:pointer ;
}
ul {
    background-color:rgb(235, 214, 188);
    width: max-content;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    padding:10px;

} */